/*
Author: Daisy Leming
Date:20.05.2024
Version: 2
*/


/*
Colours
#5E6073 
#89A3B2  
#B2D3BE 
#F2F4D1
#F9EBC7 wrapper
 #2C3B26 body colour
#B99470 red
/*

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;700&display=swap');








/* GLOBAL STYLES
------------------------------------------------
*/

body {
    font-size: 16px;
    font-weight: 300;
    font-family: "mukta", sans-serif;
    color:  #2C3B26;
  
    margin: 0;
    
}
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -4;
  display: block;
  background-image: url('images/2.jpg');
  filter: saturate(4);
  opacity: 80%;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.smlbackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F9EBC7;
    opacity: 0.9; /* Adjust opacity as needed */
    z-index: -1; /* Ensure it's behind other content */
}
#wrapper { /* I use this to create a size for my website*/
    width:1200px;
    margin:0 auto;
    position: relative;
}



/* HEADER
------------------------------------------------
*/ /* I could not fit anything to the header*/


   
    

/* NAVIGATION
------------------------------------------------
*/
nav {
    background-color:  #5F6F52;
    opacity: 100%;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}

nav ul{/*means that I will stylise the links not the navigation bar itself*/
    display:flex; /*so that the content is side by side*/
    justify-content: space-evenly;/* used this so that the content is spaced out evenly*/
    padding-left: 0px;
    list-style: none;
    text-decoration: none;
    margin-top:0; /*Margin is space around the content and padding with transparent background*/
     
}
nav img{
    position:relative;/*meaning the position is by default*/
    width:100%; /*to change the size of the logo image*/
    height:auto; /*changes the size automaticly*/
}

nav a { /* I use same order to create buttons*/
    

    color:#89A3B2;
    border: none;
    padding: 20px 20px;
    text-align:start;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:#F2F4D1;
    cursor: pointer; /* to indicate that this can be clicked forward*/
    margin-bottom: 20px;
    margin-top:20px;
    display:flex;

}
nav a:visited{/*means when the link has been clicked once*/
    color:#FEFAE0;
}


nav a:hover {/*When the cursor goes over to indicate that this is a button*/
    background-color: #B99470;
    color:#5E6073;
    
}
nav a:active {
    background-color: #89A3B2;
    color: #B99470;
}

.logo a {
  
    padding:inherit;/*means that it inherits the padding from the parent*/

}
.logo a:hover{
    opacity: 90%;
    background: none;
   
}
/* CONTENT 1
------------------------------------------------
*/
main{
    display:flex;
}
main article{
    
    opacity: 100;
    border-radius: 8px;
    margin: 20px;
    display:flex;
    flex-direction: column;/*This means that the content is arranged in a column*/

}

main img{
    
    display:flex;
    padding:20px;
    
    /*flex is never inherited and has to be used always to state the browser that this is a flex item otherwise it will be block item by default*/

}
main h2{
    
    padding:30px;
    text-align: center;
    font-size: 50px;
    font-family:sans-serif; 
    margin: 50px;
    display:flex;
    flex-direction: row;
    align-self: center;
    border-style: solid;
   
}
main p{
    padding:0px;
    text-align:left;
}

.home h2 {
    background-image: url(images/creativity.jpg);
    background-size: cover;
    background-blend-mode: lighten;
}

#link{
    display:flex;
    text-decoration: none;
    color: #2C3B26;
    border: solid;
    padding:5px 5px 5px 5px;
    flex-direction: column;
    align-self: flex-end;
    margin: 5px 50px 30px 10px;
    clear:both;
    width: 90px;
 
}
.form-center{
    display: block;/*used block item in purpose for design I was going for*/
    padding:100px 500px;
    opacity:70%;
    margin-top:20px;
    border-radius:8px;
   
       
}

.input-text input{
    display:flex;
    flex-direction: column;
    padding: 5px 5px;
    margin: 5px;
    width:200px;
}
.input-text textarea{
    width:200px; height:50px;
    margin: 10px;
    display:flex;
}
.send-form{
    width:100px; height:25px;
    cursor: pointer;
}
.map-left{
    display: flex;
    justify-content:center;
    align-items:center;
    padding-top: 20px;
    margin:0;

}
.contact-heading h2{
   
    opacity:60%;
    margin-top:25px;
    padding:25px 25px;
    border-radius:8px;
    display:flex;
    text-align: center;

}
.about{ /*I defined this class to make the items go in a row not in a columb*/
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-direction: row;
}
 

/* CONTENT 2 */
.pictures {
    
    border-radius: 8px;
    padding: 20px 20px 20px 20px; /* Adjust padding as needed */
}

.pictures h2 {
    font-size: 50px;
    border-style:solid;
    text-align: center;/* Adjust padding as needed */
    padding:30px;
    margin: 50px 450px;
    background-image:none;
}

.pictures .image-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly; /* Adjust as needed */
}

.pictures img {
    max-width: 100%; /* Ensure images maintain aspect ratio */
    height: auto; /* Allow images to scale vertically */
    margin-bottom: 5px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);/* Adjust margin as needed */
    padding:0;
}
.games h2{
    font-size: 50px;
    border-style: solid;
    text-align: center;
    margin: 50px 450px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.games h1{
    margin-left: 50px;
}
.games p{
    margin-left: 50px;
}
.games iframe{
    margin-left: 100px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
.pictures img {
        width: calc(50% - 20px); /* Adjust width and margin as needed */
    }

}


/* SIDEBAR
------------------------------------------------
*/
.sidebar{
   
    background-color:#5E6073;
    opacity:90%;
    position: relative;
    display:flex;
    margin:20px;
    justify-content:center;
    padding:5px 5px 5px 5px;
    flex-direction:row;
    border-radius: 8px;
}
.sidebar a{
    margin:20px;
   
}
.sidebar img{

    width: 70%; /* decreased the image so that it looks better*/
    height:auto;
    clear:both;/* cleared float, so that I can code my footer*/

}

.video{
    display:flex;
    flex-direction: row;
}
.video h1{
    padding-right:50px;
}
.video iframe{
    padding:5px;
    border-style:none;
}


/* FOOTER
------------------------------------------------
*/

footer {
    background-color:#5F6F52;
    opacity:100%;
    display:flex;
    list-style: none;
    position:relative;
    padding:10px 20px 10px 10px;
    text-align:center;
    justify-content:space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    
    
}

footer a{
    text-decoration: none;
   text-align: center;
    color:#F2F4D1; 
    padding: 10px 10px 2px 20px;

}    
footer address{
   padding:10px 5px 5px 5px;
}  
    
#wrapper .content {
    opacity:100;
}   
