/*
Author: Daisy Leming
Date:21.05.2023
Version: 1
*/


/*
Colours
#5E6073 
#89A3B2  
#B2D3BE 
#F2F4D1   
/*

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;700&display=swap');








/* GLOBAL STYLES
------------------------------------------------
*/

body {
    font-size: 16px;
    font-weight: 300;
    font-family: "mukta", sans-serif;
    color: #F2F4D1; /* light yellowish */
    background-image:url(images/pexels-madison-inouye-2821756.png);
    background-size:cover;
    margin: 0;
    
}
#wrapper { /* I use this to create a size for my website*/
    width:1200px;
    margin:0 auto; /* Telling the content to stay in the center*/
}



/* HEADER
------------------------------------------------
*/ /* I could not fit anything to the header*/


   
    

/* NAVIGATION
------------------------------------------------
*/
nav {
    background-color: #5E6073;
    opacity: 60%;
    width: 100%;
    border-radius: 8px;/* added this feature, so that the corners are not that sharp*/
}

nav ul{/*means that I will stylise the links not the navigation bar itself*/
    display:flex; /*so that the content is side by side*/
    justify-content: space-evenly;/* used this so that the content is spaced out evenly*/
    padding-left: 0px;
    list-style: none;
    text-decoration: none;
    margin-top:0; /*Margin is space around the content and padding with transparent background*/
     
}
nav img{
    position:relative;/*meaning the position is by default*/
    width:100%; /*to change the size of the logo image*/
    height:auto; /*changes the size automaticly*/
}

nav a { /* I use same order to create buttons*/
    

    color:#89A3B2;
    border: none;
    padding: 20px 20px;
    text-align:start;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:#F2F4D1;
    cursor: pointer; /* to indicate that this can be clicked forward*/
    margin-bottom: 20px;
    margin-top:20px;
    display:flex;
}
nav a:visited{/*means when the link has been clicked once*/
    color:#B2D3BE;
}


nav a:hover {/*When the cursor goes over to indicate that this is a button*/
    background-color: #B2D3BE;
    color:#5E6073;
    
}
.logo a {
  
    padding:inherit;/*means that it inherits the padding from the parent*/

}
.logo a:hover{
    opacity: 90%;
    background: none;
   
}
/* CONTENT 1
------------------------------------------------
*/
main{
    display:flex;
}
main article{
    background-color:#5E6073;
    opacity: 50%;
    border-radius: 8px;
    margin: 20px;
    display:flex;
    flex-direction: column;/*This means that the content is arranged in a column*/

}

main img{
    padding: 50px;
    display:flex;/*flex is never inherited and has to be used always to state the browser that this is a flex item otherwise it will be block item by default*/

}
main h2{
    
    padding:25px;
    text-align: center;
    font-size: 50px;
    font-family:sans-serif; 
    margin: 50px;
    display:flex;
    flex-direction: row;
    align-self: center
    
}
main p{
    padding:25px;
    text-align: center;
    
}
#link{
    display:flex;
    text-decoration: none;
    color:#F2F4D1;
    border: solid;
    padding:5px 5px 5px 5px;
    flex-direction: column;
    align-self: flex-end;
    margin: 5px 50px 30px 10px;
    clear:both;
    width: 90px;
 
}
.form-center{
    display: block;/*used block item in purpose for design I was going for*/
    padding:100px 500px;
    background-color:#5E6073;
    opacity:70%;
    margin-top:20px;
    border-radius:8px;
   
       
}

.input-text input{
    display:flex;
    flex-direction: column;
    padding: 5px 5px;
    margin: 5px;
    width:200px;
}
.input-text textarea{
    width:200px; height:50px;
    margin: 10px;
    display:flex;
}
.send-form{
    width:100px; height:25px;
    cursor: pointer;
}
.map-left{
    display: flex;
    justify-content:center;
    align-items:center;
    padding-top: 20px;
    margin:0;

}
.contact-heading h2{
    background-color:#5E6073;
    opacity:60%;
    margin-top:25px;
    padding:25px 25px;
    border-radius:8px;
    display:flex;
    text-align: center;

}
.about{ /*I defined this class to make the items go in a row not in a columb*/
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-direction: row;
}
 
/* CONTENT 2
------------------------------------------------
*/
.pictures{
    background-color:#5E6073;
    border-radius: 8px;
    opacity:80%;
    display:flex;
    flex-wrap:wrap;
    
}
.pictures h2{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    font-size: 25px;
    padding:25px 25px 25px 25px;
    
    
}
.pictures div {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding:100px;
    
    }
.pictures img{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:25px 50px;
    
}
.pictures a{
    display:flex;
    justify-content: space-evenly;
    
    
}
/* SIDEBAR
------------------------------------------------
*/
.sidebar{
   
    background-color:#5E6073;
    opacity:90%;
    position: relative;
    display:flex;
    margin:20px;
    justify-content:center;
    padding:5px 5px 5px 5px;
    flex-direction:row;
    border-radius: 8px;
}
.sidebar a{
    margin:20px;
   
}
.sidebar img{

    width: 70%; /* decreased the image so that it looks better*/
    height:auto;
    clear:both;/* cleared float, so that I can code my footer*/

}

.video{
    display:flex;
    flex-direction: row;
}
.video iframe{
    padding:50px;
    border-style:none;
}


/* FOOTER
------------------------------------------------
*/

footer {
    background-color:#5E6073;
    opacity:60%;
    display:flex;
    list-style: none;
    position:relative;
    padding:10px 20px 10px 10px;
    text-align:center;
    justify-content:space-evenly;
    border-radius: 8px;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    
    
}

footer a{
    text-decoration: none;
   text-align: center;
    color:#F2F4D1; 
    padding: 10px 10px 2px 20px;

}    
footer address{
   padding:10px 5px 5px 5px;
}  
    
    
